__pycache__/
*.py[cod]
*.egg-info/
.env
.env.*
.alembic_config
postgres_data/
.idea/
.vscode/
.DS_Store
**/__pycache__/
emsdk/
opencv/
opencv_contrib/
emsdk/
opencv/
opencv_contrib/
.venv/
node_modules/
docs/manual-checklist/_artifacts/
backend/uploads/
ad_id
form_id
leadgen_id
opt.code-workspace
